h1{
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    
    
    /* border-width: 10px;
    border-style: solid;
    border-color: darkslategrey;
    
    ABAIXO DOS COMETARIOS IRA FICAR OS CODIGOS RESUMIDOS
    */
    border: 10px solid darkslategrey;

    /* padding-top: 10px ;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */

    padding: 10px 10px 10px 10px;

    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */

    margin: 10px auto 10px auto;
    /* COLOCANDO (AUTO) ELE IRA CALCULAR E CENTRALIZAR A CAIXA */

    /* outline-width: 5px ;
    outline-style: dashed;
    outline-color: black; */

    outline: 5px dashed black;

    /* margin: auto;  PARA DEIXAR A CAIXA NO MEIO */
}

a{
    border-width: 9px;
    border-style: solid;
    border-color: rebeccapurple;
}