*{
    font-family: sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #F2BC79, #D9A577);
    background-attachment: fixed;
}

main{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px  5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 2px #30486698;
    color: #576B83;
}

h2{
    color: #84A4BF;
}

p{
    text-align: justify;
}


